<h1 >SKILLS</h1>
<section>
<div class="card">
  <div class="header">Front-End</div>
  <div class="body">
    <div class="skill">
      <div class="skill-name">Angular</div>
      <div class="skill-level">
        <div class="skill-percent" style="width: 80%"></div>
      </div>
      <div class="skill-percent-number">80%</div>
    </div>
    <div class="skill">
      <div class="skill-name">Html</div>
      <div class="skill-level">
        <div class="skill-percent" style="width: 90%"></div>
      </div>
      <div class="skill-percent-number">90%</div>
    </div>
    <div class="skill">
      <div class="skill-name">CSS</div>
      <div class="skill-level">
        <div class="skill-percent" style="width: 90%"></div>
      </div>
      <div class="skill-percent-number">90%</div>
    </div>
    <div class="skill">
      <div class="skill-name">JavaScript</div>
      <div class="skill-level">
        <div class="skill-percent" style="width: 75%"></div>
      </div>
      <div class="skill-percent-number">75%</div>
    </div>
    <div class="skill">
      <div class="skill-name">Bootstrap</div>
      <div class="skill-level">
        <div class="skill-percent" style="width: 65%"></div>
      </div>
      <div class="skill-percent-number">65%</div>
    </div>
  </div>
</div>
<div class="card">
<div class="header">Back-End</div>
<div class="body">
  <div class="skill">
    <div class="skill-name">C#</div>
    <div class="skill-level">
      <div class="skill-percent" style="width: 75%"></div>
    </div>
    <div class="skill-percent-number">75%</div>
  </div>
  <div class="skill">
    <div class="skill-name">Java</div>
    <div class="skill-level">
      <div class="skill-percent" style="width: 60%"></div>
    </div>
    <div class="skill-percent-number">60%</div>
  </div>
  <div class="skill">
    <div class="skill-name">PHP</div>
    <div class="skill-level">
      <div class="skill-percent" style="width: 80%"></div>
    </div>
    <div class="skill-percent-number">80%</div>
  </div>
  <div class="skill">
    <div class="skill-name">ASP.NET Core</div>
    <div class="skill-level">
      <div class="skill-percent" style="width: 75%"></div>
    </div>
    <div class="skill-percent-number">75%</div>
  </div>
</div>
</div>
<div class="card">
<div class="header">Database</div>
<div class="body">
  <div class="skill">
    <div class="skill-name">SQL Server</div>
    <div class="skill-level">
      <div class="skill-percent" style="width: 90%"></div>
    </div>
    <div class="skill-percent-number">90%</div>
  </div>
  <div class="skill">
    <div class="skill-name">MySQL</div>
    <div class="skill-level">
      <div class="skill-percent" style="width: 85%"></div>
    </div>
    <div class="skill-percent-number">85%</div>
  </div>
</div>
</div>
</section>
