<!-- <div>
    <div class="container3D"></div>
    <div class="container3D"></div>
    <div class="container3D"></div>
    <div class="container3D"></div>
    <div class="container3D"></div>
    <div class="container3D"></div>
    <div class="container3D"></div>
    <div class="container3D"></div>
    <div class="container3D"></div>
    <div class="container3D"></div>
  </div> -->
  <app-about id="about" class="con"></app-about>
  <app-education id="edu" class="con"></app-education>
  <app-projects id="projects" class="con"></app-projects>
  <app-experience id="exp" class="con"></app-experience>
  <app-skills id="skills" class="con"></app-skills>
  <app-contact id="contact"></app-contact>
  