section{
  display: flex;
  width: 89vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  padding: 0 5%;
  background-image: url(../../../../assets/cool-background.png);




}
section div{
  width: 47vh;
  height: 55vh;
  border: rgb(46, 46, 46) 1px solid;
  border-radius: 5%;
  box-shadow: rgba(46, 46, 46, 0.342) 0px 2px 2px 2px;
  padding: 2%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;
  backdrop-filter: blur(8px);
}
h1{
  font-size:  4.5vh;
  text-align: center;
}

section div:hover{
  transform: scale(1.1);
  box-shadow:rgba(46, 46, 46, 0.342) 0px 4px 4px 4px;
  background-color: rgb(245, 245, 245);
  /* color: rgb(235, 234, 234); */
}
@media (max-width: 130vh) {
  section{
   height: fit-content;
   flex-direction: column;
    gap: 6vw;
    padding: 4% 5%;
  }
}

