<h1 >EDUCATION</h1>
<section>
  <div>
    <span>2018 - 2019</span>
    <h2>Baccalauréat </h2>
    <h3>science physique et chimie international</h3>
    <p> LYCEE IMAM BOUKHARI</p>

  </div>
  <div>
    <span>2020 - 2022</span>
    <h2>DTS(Diplome Technicien Spécialisé) </h2>
    <h3>Technicien spécialisé en développement informatique .</h3>
    <p> ISTA TEMARA</p>

  </div>
  <div>
    <span>2022 - 2023</span>
    <h2>License professionnelle </h2>
    <h3>Informatique, Web et Applications Mobiles</h3>
    <p> FSR (Faculté des Sciences Rabat) </p>

  </div>
</section>
