<h1 >EXPERIENCE</h1>
<section>
  <div class="exp1">
    <div class="info1">
      <h2> Info Academie</h2>
      <h5>sep-dec(2022)</h5>
      <div class="imgp">
      <p >
        Experience in web development and maintenance <br><br>

        &nbsp; Web Development: <br><br>
        Complete development of a website using Angular technology. Design and implementation of a modern and responsive
        user interface. <br><br>

        &nbsp;Web Application Maintenance: <br><br>
        Responsible for the maintenance and regular updates of an existing web application. Utilizing Angular and
        ASP.NET Core technologies to troubleshoot issues and add new functionalities.
      </p>
    </div>
      <span> Angular</span>
      <span> ASP.NET CORE</span>
      <span> HTML</span>
      <span> CSS</span>
      <span> JavaScript</span>
    </div>
    <div class="img"></div>
  </div>
  <div class="exp2">
    <div class="img"></div>
    <div class="info2">
      <h2> YOS ETUDES</h2>
      <h5>avr (2022)</h5>
      <div class="imgp">
      <p>
        Internship in the development of a web-based HR management application <br><br>

        During my internship, I developed a comprehensive
        web-based application for human resources management.
         The application included management of leaves, delays
         , absences, certificates, users, and positions.
          I used ASP.NET, HTML, CSS, SQL Server, and Bootstrap to develop the application.
      </p>
    </div>
      <span> ASP.NET</span>
      <span> HTML</span>
      <span> CSS</span>
      <span> SQL Server</span>
      <span> Bootstrap</span>
    </div>

  </div>
</section>
