header{
  display: flex;
  justify-content: space-between;
  padding: 1%;
  text-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 7vh;
  z-index: 9  ;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.582);
  box-shadow: rgba(46, 46, 46, 0.082) 0px 1px;
  overflow: hidden;
  transition: 0.8s;
  animation: hid 1s normal;
  top:0;
}
.hide{
  transition: 0.8s;
  animation: hid 1s normal;
  top:-12vh;
}
header ul{
  display: flex;
  list-style: none;
  text-decoration: none;
  width: 50%;
  justify-content: space-around;
}
header ul li a{
  text-decoration: none;
  color: rgb(46, 46, 46);
}
header img{
  height: 12vh;

}
.mobile-nav {
  display: none;
}
.mobile-navbar {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 100;
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 0vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #ffffff;
  box-shadow: #33333348 2px 2px 5px 2px;
  transition: all .25s cubic-bezier(.645,.045,.355,1);
}
.mobile-navbar.active {
  max-width: 60vw;
}
.mobile-navbar .close-menu {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
}
.mobile-navbar ul {
  display: flex;
  flex-direction: column;
text-align: center;
align-items: center;
justify-content: space-around;
  list-style: none;
  height: 80vh;
  width: 100%;
    margin: 0;
    padding: 0;

}
.mobile-navbar ul li{
  width: 80%;

}
a{
  text-decoration: none;

  color: rgb(46, 46, 46);
}
.mobile-nav button{
  -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: pointer;
}
@media (max-width: 150vh) {
  header ul{
    width: 60%;
  }
}

@media (max-width: 130vh) {
  header ul{
    width: 70%;
  }
}
@media (max-width: 95vh) {
  header ul{
    display: none;
  }
  .mobile-nav {
    display: block;
    margin-right: 15px;

  }

  
}
@keyframes hid {
  0%{
    top: 0;
  }
  100%{
    top: -12vh;
  }
  
}
